<%- include('partials/header.ejs') %>

<style>
    .img-thumbnail {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>

<!-- content start -->
<div class="main">
    <div class="d-flex head">
        <h2 class="heading">Current Affairs</h2>
        <a href="current-affairs-add" class="ml-auto"><button type="button" class="btn btn-info">Add
            Notes</button></a>
    </div>
    <div class="content">
        <div class="row text-center text-lg-left mt-3">
            <% if(!currentaffairs[0]) { %>
            <div class="col-12 text-center">
                <h2>No Notes</h2>
            </div>
            <% } else { %>
            <% currentaffairs.forEach(function(currentaffair){ %>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="d-block mb-4 h-100" style="position: relative;">
                    <img class="img-fluid img-thumbnail" src="../dist/thumbnail/current-affairs/<%= currentaffair.thumbnail %>" alt="">
                    <button class="btn btn-danger" style="width: 100%;"
                        onclick="deletenote('<%= currentaffair._id %>')">Delete</button>
                </div>
            </div>
            <% }) %>
            <% } %>
        </div>
    </div>
</div>
</form>

<%- include ('partials/footer.ejs') %>

<script>
    activeSideBar('current-affairs');

    function deletenote(id) {
        if (confirm('Do you really want to delete this note')) {
            // DO POST
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "current-affairs/deletenote",
                data: JSON.stringify({
                    id: id
                })
            }).done(res => {
                if (res == 'success') {
                    location.reload();
                } else {
                    alert(res);
                }
            });
        }
    }
</script>